body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, .logo {
  cursor: pointer;
}

button, body, ::placeholder {
  font-family: "Outfit", sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 134px;
  background: #C8D9EE;
  position: sticky;
  top: 0;
  height: 6vh;
}

.miruku-logo {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-search {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

input:focus {
  outline: none;
}

.user-auth {
  display: flex;
  gap: 1em;
}
